// Proxima Nova Font Family
@font-face {
  font-display: swap;
  font-family: 'Proxima';
  src: url('/fonts/ProximaNova-Light.ee0fff.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Proxima';
  src: url('/fonts/ProximaNova-Regular.1bc892.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Proxima';
  src: url('/fonts/ProximaNova-SemiBold.5b6287.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Proxima';
  src: url('/fonts/ProximaNova-Bold.efa5a3.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// Libre Bodoni Font Family
@font-face {
  font-display: swap;
  font-family: 'Libre';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/libre-bodoni-v5-latin-regular.d1547b.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/libre-bodoni-v5-latin-italic.c198c2.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/libre-bodoni-v5-latin-500.3c2903.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family:  'Libre';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/libre-bodoni-v5-latin-500italic.03442b.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family:  'Libre';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/libre-bodoni-v5-latin-600.9b429b.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/libre-bodoni-v5-latin-600italic.9c5d6b.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/libre-bodoni-v5-latin-700.3c79ce.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/libre-bodoni-v5-latin-700italic.2d4029.woff2') format('woff2');
}

// Helvetica
@font-face {
  font-display: swap;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Helvetica-Bold.4dad59.woff2') format('woff2');
}

// Arial
@font-face {
  font-display: swap;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Arial.8e71d2.woff2') format('woff2');
}

// DM Sans
@font-face {
  font-display: swap;
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/DMSans.c0fa1e.woff2') format('woff2');
}

// DM Serif Text
@font-face {
  font-display: swap;
  font-family: 'DMSerifText';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/DMSerifText.8cfc11.woff2') format('woff2');
}

// Roboto
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Roboto-Light.546cc5.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.93cec1.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Roboto-Medium.d9dd95.woff2') format('woff2');
}

// Shippori
@font-face {
  font-display: swap;
  font-family: 'Shippori';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ShipporiMinchoB1-Regular.1031fc.woff2') format('woff2');
}

