@import '../utils.scss';

@include block('connect-with-lawyer') {
  .block-container {
    margin-left: auto;
    margin-right: auto;

    &.container-size-small {
      max-width: rem(1516);
    }

    &.container-size-medium {
      max-width: rem(1830);
    }

    .img-height {
      @include media('>=3xl') {
        height: rem(517);
      }
    }

    .headline {
      line-height: fluid(15, 22);
      letter-spacing: fluid(0.5, 0.5);
      font-size: rem(12);
    }

    h2 {
      font-size: fluid(12, 15);
      line-height: fluid(18, 32);
      color: #D4CDBB;
      padding-bottom: rem(4);
      text-transform: uppercase;
      line-height: rem(20);
      font-weight: 700;
      padding-left: rem(12);
      padding-right: rem(12);
      letter-spacing: rem(0.48);

      @include media('>=lg') {
        padding-left: 0;
        padding-right: 0;
        letter-spacing: rem(2.4);
      }
    }

    h3 {
      .component-rich-text {
        font-size: fluid(38, 64);
        line-height: fluid(36, 68);
        color: white;
        font-weight: 400;
        font-style: normal;
        font-family: 'Libre', serif;
        padding-top: 0;
        padding-bottom: 0;
        letter-spacing: rem(-1.44);
        max-width: 100%;
        margin: rem(10) 0;

        @include media('>=lg') {
          padding-left: 0;
          padding-right: 0;
          letter-spacing: rem(-2.7);
        }

        &.location-heading {
          color: #FC9445;
          font-style: italic;
        }
      }

      span {
        color: #FC9445;
        font-style: italic;
      }
    }

    .location-tagline {
      font-size: fluid(16, 20);
      line-height: rem(26);
      color: white;
      font-family: 'Proxima', sans-serif;
    }

    .left-pan {
      a {
        text-decoration: underline;
        font-style: italic;
        margin-top: rem(16);
      }
    }

    .newsletter-form {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      @include media(">=md") {
        flex-direction: row;
        align-items: center;
        gap: rem(8);
      }
    }

    .search-field {
      border-radius: rem(100);
      padding: rem(15) rem(20);
      width: 100%;
      max-width: 100%;
      height: rem(50);
      background-color: #fff;
      outline: none;
      border: rem(1) solid transparent;
      font-family: 'Proxima', sans-serif;
      font-size: rem(14);
      color: #1D1D1D;
      line-height: rem(20);
      box-sizing: border-box;

      &::placeholder {
        font-family: 'Proxima', sans-serif;
        font-weight: 400;
        color: #6B6B4E;
      }

      &:focus {
        outline: none;
        border-color: #FC9445;
      }
    }

    .submit-button {
      border-radius: rem(100);
      padding: rem(15) rem(20);
      width: rem(170);
      height: rem(50);
      cursor: pointer;
      letter-spacing: rem(1.4);
      margin: 0 auto;
      background-color: #FC9445;
      color: #000;
      text-transform: uppercase;
      font-family: 'Helvetica', sans-serif;
      font-size: rem(14);
      font-weight: 700;
      border: none;
      white-space: nowrap;
      line-height: rem(20);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(">=md") {
        margin: 0;
      }

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

    .image-fit {
      figure {
        height: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.section-light {
    h2 {
      color: black;
    }

    h3 {
      .component-rich-text {
        color: black;

        &.location-heading {
          color: #B6572E;
        }
      }
    }

    .goto-location {
      color: black;
    }

    .location-tagline {
      color: black;
      font-family: 'Proxima', sans-serif;
    }
  }
}

