@import '../utils.scss';

@include block('contact-us') {
  .block-container {
    .component-rich-text {
      &.address {
        font-size: 0.875rem;
          padding-top: 1.25rem; padding-bottom: 1.25rem;
      }
    }

    #map {
      box-shadow: 0px 4px 13.8px 0px #D3C4AA;
      width: 100%;
          height: 100%;
          /* @apply min-h-48 - needs manual conversion */
          /* @apply ml-auto - needs manual conversion */
          /* @apply border-[12px] - needs manual conversion */
          border-style: solid;
          border-color: #fff;

          @include media(">=lg") {
            /* @apply lg:w-[830px] - needs manual conversion */
            /* @apply lg:h-[500px] - needs manual conversion */
            /* @apply lg:border-[20px] - needs manual conversion */
          }

          @include media(">=md") {
            /* @apply md:min-h-96 - needs manual conversion */
          }

      iframe{
        width: 100%;
          height: 100%;
      }
    }
  }
}
