@import '../utils.scss';

@include block("council-simple-content-component") {

background-color: #1D1D1D;

&.xlarge-top-padding{

  /* @apply pt-[200px] - needs manual conversion */

  @include media(">=lg-plus") {
    /* @apply pt-[130px] - needs manual conversion */
  }

}



  .block-container {
    .council-simple-content-wrapper {
      text-align: center;


      h2 {
        .component-rich-text {
          font-size: fluid(30, 42);
          line-height: fluid(46, 46);
          margin-bottom: rem(36);
          max-width: rem(1175);
          letter-spacing: normal;
          color: #fff;
          /* @apply font-dmserifText - needs manual conversion */
          font-weight: 400;
          text-transform: capitalize;
        }
      }

      h3 {
        .component-rich-text {
          font-size: rem(24);
          line-height: rem(30);
          margin-bottom: rem(20);
          max-width: rem(1090);
          letter-spacing: normal;
          color: #FC9445;
          /* @apply font-dmsans - needs manual conversion */
          font-weight: 400;
          text-transform: uppercase;
        }
      }

      h4 {
        .component-rich-text {
          font-size: fluid(23, 22);
          line-height: fluid(46, 46);
          margin-bottom: rem(20);
          max-width: rem(1048);
          letter-spacing: normal;
          color: #fff;
          /* @apply font-dmserifText - needs manual conversion */
          font-weight: 400;
          text-transform: capitalize;
        }
      }

      .short-description {

        .component-rich-text {
          font-size: fluid(15, 16);
          line-height: fluid(22, 22);
          max-width: rem(1090);
          letter-spacing: normal;
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
        }
      }


    }
  }
}
