@import '../utils.scss';

@include block("discover-slider") {
  padding-left: rem(20);
  padding-right: rem(20);
  position: relative;
  z-index: 2;

  .block-container {
    border-radius: rem(20);
    position: relative;
    z-index: 10;

    &.container-size-small {
      max-width: rem(1516);
    }

    &.container-size-medium {
      max-width: rem(1830);
    }

    .swiper-container {
      padding-top: 0;
      padding-bottom: 0;
      overflow-x: hidden;

      @include media(">=lg") {
        padding-top: rem(80);
      }

      .swiper-wrapper {
        align-items: flex-start;

        @include media(">=lg") {
          align-items: center;
        }

        .swiper-slide {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          transition: all 0.3s ease;
          margin-bottom: rem(12);

          @include media(">=lg") {
            padding: 0;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 0;
          }

          .discover-slide-thumbnail {
            position: relative;
            margin-bottom: rem(20);
            width: 100%;

            @include media(">=lg") {
              position: relative;
              margin-bottom: 0;
              width: auto;
            }

            // Shadow layers
            &::after {
              content: "";
              height: 90%;
              top: 5%;
              border-radius: rem(20);
              z-index: -2;
              background-color: #F4F2EC;
              position: absolute;
              margin-bottom: 0;
              display: none;
              right: rem(-16);
              width: rem(48);

              @include media(">=lg") {
                display: block;
              }
            }

            &::before {
              content: "";
              height: 76%;
              right: rem(-30);
              top: 12%;
              border-radius: rem(20);
              z-index: -2;
              background-color: #EDEAE1;
              position: absolute;
              display: none;
              bottom: 0;
              width: rem(48);

              @include media(">=lg") {
                display: block;
              }
            }

            .component-image {
              overflow: initial;
              position: relative;

              img {
                border-radius: rem(10);
                max-height: rem(600);
                aspect-ratio: auto;

                @include media(">=lg") {
                  max-width: rem(300);
                  border-radius: rem(20);
                }

                @include media(">=xl") {
                  max-width: rem(365);
                }

                @include media(">=2xl") {
                  max-width: rem(504);
                }
              }
            }
          }

          .discover-slider-content {
            position: relative;
            width: 100%;
            margin: 0;
            max-width: max-content;

            .discover-slide-inner-content {
              @include media(">=lg") {
                max-width: rem(430);
              }
              @include media(">=xl") {
                max-width: rem(500);
              }
              @include media(">=4xl") {
                max-width: rem(600);
              }
            }

            @include media(">=lg") {
              margin-left: rem(100);
              width: 50%;
              min-height: max-content;
            }

            @include media(">=xl") {
              margin-right: rem(50);
            }

            @include media(">=4xl") {
              margin-left: rem(140);
              margin-right: rem(50);
            }

            h2 {
              letter-spacing: rem(2.8);
              text-align: left;
              color: #B6572E;
              padding-bottom: 0;
              text-transform: uppercase;
              line-height: 1.25rem;
              font-weight: 700;
              font-family: 'Proxima', sans-serif;
              font-size: rem(14);

              @include media(">=md") {
                padding-bottom: rem(12);
              }
            }

            h3 {
              .component-rich-text {
                font-size: fluid(36, 64); // Figma: 64px
                line-height: fluid(40, 68); // Figma: 68px (106%)
                text-align: left;
                color: #B6572E; // Figma: secondary
                font-weight: 400;
                padding-left: 0;
                font-style: italic; // Figma: italic
                font-family: 'Libre', serif;
                letter-spacing: -0.03em; // Figma: -0.03em
                
                span {
                  color: #B6572E; // Figma: secondary
                  font-style: italic;
                  font-family: 'Libre', serif;
                }
              }
            }

            .block-short-des {
              .component-rich-text {
                font-size: fluid(16, 20); // Figma: 20px
                line-height: fluid(20, 26); // Figma: 26px (130%)
                text-align: left;
                padding-top: rem(4);
                padding-bottom: rem(20);
                font-weight: 300; // Figma: 300
                font-family: 'Proxima', sans-serif;
              }
            }

            .component-button-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;

              @include media(">=lg") {
                flex-direction: row;
                align-items: flex-start;
              }

              .component-button {
                letter-spacing: fluid(1.4, 1.5);
                text-transform: uppercase;
                width: 100%;
                border-radius: rem(100);
                border-color: #FC9445;
                margin: rem(8) 0;
                margin-left: 0;
                font-family: 'Proxima', sans-serif;
                font-weight: 700;
                line-height: 2rem;
                white-space: nowrap;
                min-width: rem(256);
                padding-left: rem(16);
                padding-right: rem(16);

                @include media(">=lg") {
                  width: auto;
                }

                span {
                  font-size: fluid(14,15);
                  font-weight: 700;
                  font-family: 'Proxima', sans-serif;
                }

                &.style-primary {
                  margin-right: rem(12);
                  background-color: #FC9445;
                  color: white;
                  border-radius: rem(100);
                  margin-left: rem(12);
                  border: none;

                  &:hover {
                    background-color: #000000;
                    color: white;
                  }

                  @include media(">=lg") {
                    margin-left: 0;
                  }
                }

                &.style-secondary {
                  margin-right: rem(12);
                  color: #235561;
                  border-color: #235561;
                  border-radius: rem(100);
                  margin-left: rem(12);

                  &:hover {
                    background-color: #000000;
                    color: white;
                    border-color: transparent;
                  }

                  @include media(">=lg") {
                    margin-left: 0;
                  }
                }

                @include media(">=lg") {
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 0;
                  margin-bottom: 0;
                  min-width: max-content;
                }

                @include media(">=xl") {
                  min-width: rem(256);
                }
              }
            }
          }

          &.swiper-slide-next,
          &.swiper-slide-prev {
            .discover-slider-content {
              visibility: hidden;
            }
          }
        }
      }
    }

    .custom-indicators {
      margin-top: rem(20);
      margin-bottom: 0;
      position: relative;
      bottom: rem(28);
      top: rem(32);
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: flex-start;
      overflow: hidden;

      @include media(">=lg") {
        margin-top: rem(20);
        bottom: rem(-36);
        overflow-x: scroll;
        padding-bottom: rem(10);
        display: block;
        white-space: nowrap;
        margin-left: rem(12);
        margin-right: rem(12);
      }

      @include media(">=3xl") {
        bottom: rem(44);
      }

      .custom-indicator {
        letter-spacing: rem(2.8);
        display: none;
        text-transform: uppercase;
        color: #18434E;
        position: relative;
        font-weight: 600;
        font-family: 'Proxima', sans-serif;
        font-size: rem(12);
        white-space: nowrap;
        left: 8%;
        width: 91%;
        margin-bottom: rem(44);

        @include media(">=lg") {
          display: inline-block;
          color: #235561;
          margin-left: rem(40);
          margin-right: rem(40);
          font-size: rem(14);
          left: 0;
          top: 0;
          margin-bottom: 0;
          width: auto;
        }

        @include media(">=2xl") {
          margin-right: rem(80);
        }

        span {
          border-bottom: 1px solid transparent;
        }

        &::before {
          content: "";
          border-radius: 50%;
          margin-right: rem(5);
          border-color: #18434E;
          top: rem(3);
          display: inline-block;
          position: relative;
          background-color: transparent;
          width: rem(16);
          height: rem(16);
          border-width: 2px;

          @include media(">=lg") {
            border-color: #235561;
            margin-right: rem(12);
            top: rem(2);
          }
        }

        span.caption-arrow {
          background-image: url("/images/right-indicator-arrow.svg");
          top: rem(3);
          filter: brightness(0) saturate(100%) invert(55%) sepia(41%) saturate(350%) hue-rotate(151deg) brightness(90%) contrast(85%);
          display: inline-block;
          width: rem(32);
          height: rem(28);
          position: absolute;
          left: auto;
          right: 0;
          background-repeat: no-repeat;
          border: 0;
          vertical-align: middle;

          @include media(">=lg") {
            position: absolute;
            right: rem(-56);
          }

          @include media(">=2xl") {
            right: rem(-77);
          }
        }

        &.active {
          display: block;
          font-weight: 800;
          color: #163B46;

          @include media(">=lg") {
            display: inline-block;
            color: #163B46;
          }

          span {
            border-bottom: 1px solid #163B46;
            border-color: #163B46;
          }

          &::before {
            background-color: #163B46;
            border-color: #163B46;
          }
        }

        &:last-child {
          span.caption-arrow {
            display: none;
          }
        }
      }

      &::-webkit-scrollbar {
        width: rem(4);
        height: rem(4);
      }

      &::-webkit-scrollbar-track {
        border-radius: rem(12);
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: rem(12);
        background-color: #235561;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      outline: none;
      top: 50%;
      position: absolute;
      opacity: 1;
      color: white;

      &.swiper-button-disabled {
        display: none;
        opacity: 0;
      }

      &::after {
        line-height: fluid(50, 60);
        font-weight: 700;
      }

      @include media(">=lg") {
        color: #6191A3;
        top: 60%;
      }

      &.mob-slider-navigation {
        display: flex;
        top: 8%;
        height: 100%;
        align-items: center;
        padding-left: rem(32);
        padding-right: rem(32);

        @include media(">=lg") {
          display: none;
        }

        &::before {
          content: "";
          display: block;
          background-color: rgba(0, 0, 0, 0.3);
          filter: blur(48px);
          height: rem(96);
          z-index: 0;
          position: absolute;
          width: 100%;
        }

        &::after {
          z-index: 10;
        }
      }
    }

    .swiper-button-next {
      right: 0;

      @include media(">=lg") {
        right: 2.3%;
      }

      @include media(">=3xl") {
        right: 5%;
      }
    }

    .swiper-button-prev {
      left: 0;

      @include media(">=lg") {
        left: 2.3%;
      }

      @include media(">=3xl") {
        left: 5%;
      }
    }

    &.overley-layout {
      top: rem(-48);

      @include media(">=lg") {
        top: rem(-112);
      }
    }
  }
}

