@import '../utils.scss';

@include block('hero-component-secondary') {
  padding-top: rem(92);

  .container-fluid {
    max-width: rem(1920);
    height: 100%;
  }

  &.column-layout {
    min-height: rem(785);
    height: rem(785);

    @include media(">=lg") {
      min-height: rem(785);
      height: rem(785);
    }

    .hero-image {
      @include media(">=lg") {
        position: absolute;
        bottom: 0;
        top: 0;
      }

      img {
        @include media(">=lg") {
          height: 100%;
        }
      }

      &.image-fit-cover {
        img {
          object-fit: cover;
        }
      }
    }
  }

  .block-container {
    .heading {
      letter-spacing: rem(2.2);
      text-transform: uppercase;
    }

    &.content-top {
      align-items: flex-start;

      .hero-content-wrapper {
        padding-top: rem(48);

        @include media(">=lg") {
          padding-top: rem(160);
          padding-right: 0;
        }

        &.box-view {
          @include media(">=lg") {
            margin-top: rem(112);
          }
        }
      }
    }

    &.content-middle {
      align-items: center;
    }

    &.container-size-small {
      max-width: rem(1686);
    }

    &.container-size-medium {
      max-width: initial;
    }

    .hero-content-wrapper {
      padding-left: rem(20);
      padding-right: rem(20);

      @include media(">=lg") {
        padding-left: rem(70);
        padding-right: rem(70);
      }

      @include media(">=2xl") {
        padding-left: rem(120);
        padding-right: rem(120);
      }

      &.box-view {
        background-color: #163B46;
        border-radius: rem(16);
        padding: rem(40) rem(20);

        @include media(">=lg") {
          padding: rem(40) rem(80);
          min-height: rem(400);
          max-width: rem(770);
          margin-left: rem(47);
          margin-bottom: rem(48);
          align-items: center;
        }
      }

      .component-rich-text {
        font-size: fluid(16, 20); // Figma: 20px
        line-height: fluid(20, 26); // Figma: 26px (130%)
        font-family: 'Proxima', sans-serif;
        font-weight: 400; // Figma: 400
        color: white;
        padding-left: rem(20);
        padding-right: rem(20);
        margin-top: rem(24);
        margin-bottom: 0;
        
        @include media(">=lg") {
          margin-top: rem(24);
          margin-bottom: rem(24);
        }

        @include media(">=lg") {
          padding-left: 0;
          padding-right: 0;
          margin-top: rem(24);
          margin-bottom: rem(24);
        }

        &.large-font {
          font-size: fluid(32, 48);
          line-height: fluid(42, 58);
          font-family: 'Libre', serif;
          margin-top: 0;
        }
      }

      h1, h2 {
        &.title {
          font-size: fluid(12, 15);
          line-height: fluid(18, 32);
          color: #D4CDBB; // beigemuted
          padding-bottom: rem(4);
          width: 100%;
          text-transform: uppercase;
          line-height: 1.25rem;
          font-weight: 600; // Figma: 600
          padding-left: rem(12);
          padding-right: rem(12);
          letter-spacing: 0.16em; // Figma: 0.16em

          @include media(">=lg") {
            padding-left: 0;
            padding-right: 0;
            letter-spacing: 0.16em; // Figma: 0.16em
          }
        }
      }

      h1, h2 {
        &.subtitle {
          .component-rich-text {
            font-size: fluid(48, 90); // Figma: 90px
            line-height: fluid(52, 84); // Figma: 84px (93%)
            color: white;
            font-weight: 400; // Figma: 400
            font-style: normal;
            font-family: 'Libre', serif;
            padding: 0 rem(20);
            letter-spacing: -0.03em; // Figma: -0.03em
            max-width: 100%;
            margin: rem(10) 0;

            @include media(">=lg") {
              padding: 0;
              letter-spacing: -0.03em; // Figma: -0.03em
            }
          }

          span {
            color: #FC9445;
            font-style: italic;
          }
        }
      }

      .component-button {
        padding: rem(12) rem(18); // Figma: 12px 18px
        letter-spacing: 0.1em; // Figma: 0.1em
        min-width: rem(176);
        font-family: 'Proxima', sans-serif;
        font-size: rem(15); // Figma: 15px
        text-transform: uppercase;
        font-weight: 700; // Figma: 700

        @include media('>=sm') {
          letter-spacing: 0.1em; // Figma: 0.1em
          font-size: rem(15); // Figma: 15px
        }

        &.style-primary {
          color: black;
          border: 3px solid transparent;

          &:hover {
            background-color: #000000;
            color: white;
            border-color: transparent;
          }
        }

        &.style-secondary {
          color: white;
          border: 3px solid white;

          &:hover {
            background-color: #000000;
            color: white;
            border-color: transparent;
          }
        }
      }
    }
  }

  .dls-home-hero-image-wrapper {
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: auto;

    @include media(">=lg") {
      align-items: center;
    }

    .hero-image {
      overflow: hidden;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;

      @include media(">=lg") {
        width: auto;
        margin-right: 0;
      }
    }
  }
}

