@import '../utils.scss';

@include block('page-header') {
  position: relative;

  .block-container {
    h1 {
      font-size: fluid(12, 18);
      line-height: fluid(18, 32);
      /* @apply text-beigemuted - needs manual conversion */
          padding-top: 4rem;
          text-align: center;
          padding-bottom: 1.5rem;
          text-transform: uppercase;
          font-weight: 600;
          padding-left: 1rem; padding-right: 1rem;
          /* @apply tracking-[0.48px] - needs manual conversion */

          @include media(">=lg") {
            padding-top: 0;
            padding-left: 0; padding-right: 0;
            /* @apply lg:tracking-[2.88px] - needs manual conversion */
          }

      &.heading-pt-70{
        

          @include media(">=lg") {
            /* @apply lg:pt-[71px] - needs manual conversion */
          }
      }
    }
    h2 {
      .component-rich-text {
        font-size: fluid(38, 82);
        line-height: fluid(48, 95);
        color: #fff;
      }
      span {
        color: #FC9445;
          font-style: italic;
      }
    }
    .component-rich-text {
      font-size: fluid(18, 20);
      line-height: fluid(20, 22);
      color: #fff;
    }


  }
  &.gradient-background{
    &::before {
      content: '';
      max-width: rem(720);
      mix-blend-mode: plus-lighter;
      margin-left: auto; margin-right: auto;
          /* @apply bg-brightcyan/[.15] - needs manual conversion */
          /* @apply blur-[125px] - needs manual conversion */
          position: absolute;
          /* @apply top-[30%] - needs manual conversion */
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 0;
          border-radius: 9999px;
    }
  }
}
